<% @locations.each do |location| %>
  <div class="pl-3">
    <h2 class="font-bold text-lg">
      <%= location.title %>
      <%= location.subtitle %>
    </h2>
    <ul class="list-disc list-inside">
      <li>
        <%= link_to(location.full_facility_id, location.url, target: :_blank) %>
      </li>
      <li>
        <%= location.full_address %>
      </li>
    </ul>
  </div>
<% end %>
